.nav{
    height: 75px;
    width: 100vw;
    background-color: $white;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 99;

    @include mobile{
        align-items: flex-start;
        position: fixed;
        top: 0;
    }

    &>.container{
        display: flex;
        justify-content: space-between;
    }

    a{
        text-decoration: none;
        color: $black;
        @include ModeratRegular;
        font-size: 1.5em;
        
        &::first-letter{
            text-transform: uppercase;
        }
    }
    .home_link{
        @include ModeratBold;
        font-size: 2em;
        margin-left: 1rem;

        @include mobile{
            z-index: 2;
            margin-top: 1rem;
        }
    }
}

.nav_links{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 20vw;
    list-style: none;

    @include mobile{
        width: 100vw;
        height: 100vh;
        z-index: 1;
        position: fixed;
        top: 0;
        background-color: $accent;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }

    li{
        display: flex;
        align-items: center;
        height: auto;

        @include mobile{
            font-size: 2rem;
            margin-right: 1rem;
        }
    }
    li:nth-child(2){
        position: relative;

        @include mobile{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            height: auto;
        }

        &::after{
            content: "";
            width: 24px;
            height: 24px;
            background-image: url(/img/icons/chevron.svg);
            background-repeat: no-repeat;
            background-position: center;
            transition: all .5s;

            @include mobile{
                display: none;
            }
        }

        &:hover::after{
            transform: rotate(-180deg);
        }
    }
    li:last-child{

        &::after{
            content: "";
            width: 24px;
            height: 24px;
            background-image: url(/img/icons/external_link.svg);
            background-repeat: no-repeat;
            background-position: top center;

            @include mobile{
                display: none;
            }
        }
    }
}

.dropdown_menu{
    position: absolute;
    top: 2.5em;
    margin: 0;
    padding: 0;
    background: $white;
    border-radius: 5px;
    box-shadow: 0px 10px 15px 0px rgba($color: #000000, $alpha: .25);

    @include mobile{
        position: static;
        background: transparent;
        box-shadow: none;
        width: 100%;
    }
}

.sub_menu{
    padding: 1.5em 3em;
    border-radius: 5px;
    transition: all .5s;

    @include mobile{
        padding: 0;
        border-radius: 0;

        a{
            font-size: 1rem;
            width: 100%;
            text-align: right;
            height: 3rem;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }

    &:hover{
        background: $accent;
    }

    &:after{
        display: none;
    }
}

.burger-icon{
    display:none;

    @include mobile{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        justify-self: flex-end;
        margin-left: auto;
        margin-right: 1rem;
        margin-top: 1rem;
        width: 35px;
        height: 35px;
        z-index: 999;
        
        span{
            display: block;
            width: 100%;
            height: 4px;
            background-color: $black;
            opacity: 1;
            transform: translateX(0px) rotate(0deg);
        }
    }
}

//ANIMATION BURGER MENU

.cross{
    span:first-child{
        transform: translateX(8px) rotate(45deg);
        transform-origin: top left;
        width: 47px;
        transition: all .5s;
    }
    span:nth-child(2){
        opacity: 0;
        transition: all .5s;
    }
    span:last-child{
        transform: translateX(8px) rotate(-45deg);
        transform-origin: bottom left;
        width: 47px;
        transition: all .5s;
    }
}