.playzone, .transmedia, .signature, .illu_web{
    margin-top: 10rem;

    @include mobile{
        padding: 0 1rem;
        width: 100vw;
        box-sizing: border-box;
        margin-top: 3rem;
    }

    h1{
        text-align: center;
        margin: 0;
        @include ModeratRegular;
        font-size: 4.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 10rem;

        @include mobile{
            font-size: 3.5rem;
            margin-top: 5rem;
        }
        span{
            @include ModeratBold;
            order: -1;
            font-size: 2.25rem;
        }
    }

    .overview_title::after{
        content: "";
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        width: 50px;
        height: 50px;
        position: relative;
        top: .2em;

        @include mobile{
            display: none;
        }
    }
}

.second_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: flex-start;
    }

    a{
        color: $black;
        text-decoration: none;
        font-size: 1.125rem;
        @include ModeratBold;
        display: flex;
        flex-direction: column;
        width: 350px;

        @include mobile{
            width: 100%;
            font-size: 1rem;
        }

        &:hover span{
            color: $accent;
            font-weight: 700;
        }

        &:hover p::before{
            animation-name: slide;
            animation-duration: .5s;
            animation-timing-function: linear;
            animation-iteration-count: 1;
        }

        p{
            position: relative;
            margin: 0;

            &::before{
                content: "";
                background-image: url(/img/icons/arrow.svg);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                width: 32px;
                height: 15px;
                display: inline-block;
                margin-right: 1rem;

                @include mobile{
                    width: 20px;
                    margin-right: .5rem;
                }
            }
        }

        span{
            @include ModeratRegular;
            display: block;
            margin-top: .5rem;
            order: 1;

            @include mobile{
                font-size: .825rem;
            }
        }
    }
    a:last-of-type{
        text-align: right;
        justify-content: flex-end;


        p{
            &::before{
                content: "";
                background: none;
                margin: 0;
            }
            &::after{
                content: "";
                background-image: url(/img/icons/arrow2.svg);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                width: 32px;
                height: 15px;
                display: inline-block;
                margin-left: 1rem;
                @include mobile{
                    width: 20px;
                    margin-left: .5rem;
                }
            }
        }

        &:hover p::after{
            animation-name: slide2;
            animation-duration: .5s;
            animation-timing-function: linear;
            animation-iteration-count: 1;
        }
    }
}

.case_type{
    @include ModeratBold;
    text-align: center;
    font-size: 2.25rem;
    margin: 0;

    @include mobile{
        order: 1;
        grid-column-start: span 2;
        margin-top: 2rem;
        font-size: 1.75rem;
    }
    span{
        display: block;
        @include ModeratRegular;
        &::first-letter{
            text-transform: capitalize;
        }
    }
}

.overview{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10rem;
    @include ModeratRegular;

    @include mobile{
        margin-top: 5rem;
    }

    h4{
        font-size: 1.5rem;
        @include ModeratBold;
        margin: 0;
        margin-bottom: 1rem;
    }

    p{
        margin: 0;
        margin-bottom: .5rem;
        font-size: 1.125rem;
    }
}

.overview_top{
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @include mobile{
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        gap: 30px;
        margin-bottom: 2rem;
    }
}

.overview_end{
    @extend .overview_top;
    margin-bottom: 0;
}

.overview_title{
    font-size: 3rem;
    @include ModeratRegular;
    width: 50%;
    margin: 2em 0;
    
    @include mobile{
        width: 100%;
        font-size: 2.5rem;
        order: -1;
    }

    strong{
        color: $black;
        @include ModeratBold;
        font-size: 1.5rem;
        display: block;
        margin: 0;

        @include mobile{
            margin-bottom: .5rem;
        }
    }
}

.playzone .overview_title::after{
    background-image: url(/img/emoji/fox.png);
}

.transmedia .overview_title::after{
    background-image: url(/img/emoji/detective.png);
}

/*-----CASE STUDIES-----*/

.ux_case_study, .ui_case_study, .transmedia_case_study, .design_case_study, .illu_case_study{
    font-size: 1.5rem;
    @include ModeratRegular;

    section{
        margin-bottom: 10rem;

        @include mobile{
            margin-bottom: 8rem;
        }
    }

    .idee{
        margin-bottom: 35rem;
        
        @include mobile{
            margin-bottom: 8rem;
        }
    }

    h3{
        color: $accent;
        font-size: 2.25rem;
        margin: 0;
    }

    p{
        line-height: 2.5rem;

        @include mobile{
            line-height: 140%;
        }
    }
    
    em{
        font-style: normal;
    }
}

.ux_case_study, .illu_case_study{
    @include case_center;
}

.playtogne{
    position: relative;
    overflow-x: hidden;

    img{
        max-width: 100%;
    }

    &::after{
        content: "";
        background-image: url(/img/content/playzone_photo1.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 20vw;
        height: 700px;
        display: block;
        position: absolute;
        top: 160vh;
        right: 0;

        @include mobile{
            display: none;
        }
    }
}

/*-----UX CASE STUDY-----*/

.idee{
    background-color: $white;
    outline: 5em solid $white;
    position: relative;

    &::after{
        content: "";
        background-image: url(/img/content/playzone_photo2.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        width: 50vw;
        height: 620px;
        position: absolute;
        z-index: -1;
        top: 50%;
        left: -30vw;

        @include mobile{
            display: none;
        }
    }
}

.audience_content{
    display: flex;
    justify-content: space-between;
    margin: 0 -10rem;
    margin-top: 5rem;

    @include mobile{
        margin: 0;
        flex-direction: column;
        margin-top: 3rem;
    }
}

.users_types{
    margin: 0;
    padding: 0;
    list-style: none;
}

.users{
    width: 60%;

    @include mobile{
        width: 100%;
        margin-bottom: 2rem;
    }
    h4{
        font-size: 2.25rem;
        margin: 0;
        margin-bottom: 1rem;

        @include mobile{
            font-size: 1.825rem;
        }

        span{
            display: block;
            font-size: 1.5rem;
        }
    }

    &:first-of-type{
        @include mobile{
            span{
                display: none;
            }
        }
    }
}

.ux_features{
    margin: 0 -10rem;
    padding: 0;
    list-style: none;

    @include mobile{
        margin: 0;
    }

    li{
        background-color: $accent;
        display: flex;
        border-radius: 5px;
        padding: 3rem 0;
        margin: 3rem auto;

        @include mobile{
            flex-direction: column;
            align-items: center;
        }

        h4, p{
            margin: 0;
            line-height: 30px;
            font-size: 1.5rem;

            @include mobile{
                text-align: center;

                padding: 0 1rem;
            }
        }

        h4{
            margin-right: .5rem;

            @include mobile{
                margin-right: 0;
                margin-bottom: 2rem;
                display: flex;
                flex-direction: column;
            }
            &::before{
                content: url(/img/icons/notification.svg);
                margin: 0 3rem;

                @include mobile{
                    margin: 0;
                    margin-bottom: 1rem;
                }
                
            }
            &::after{
                content: "-";
                margin-left: .5rem;

                @include mobile{
                    content: "";
                    margin: 0;
                }
            }
        }
    }
    li:nth-of-type(2) h4::before{
        content: url(/img/icons/content.svg);
    }
    li:last-of-type h4::before{
        content: url(/img/icons/view.svg);
    }
}

.user_journey img{
    @include mobile{
        margin: 0 -1rem;
        max-width: 100vw;
    }
}

.parcours{
    margin: 0 -20rem;
    margin-bottom: 5rem;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5rem;
    text-align: center;
    line-height: 2rem;
    position: relative;

    @include mobile{
        margin: 0;
        margin-bottom: 5rem;
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        width: 100%;
        gap: 1rem;
    }

    &:before{
        content: "";
        display: block;
        height: 2px;
        border-bottom: 2px solid $black;
        width: 200%;
        position: absolute;
        margin: 0 -20em;
        top: 100px;
        left: 0;

        @include mobile{
            display: none;
        }
    }
}

.step{
    @include mobile{
        background-color: $accent;
        border-radius: 5px;
        padding: 2rem;
    }
}

.step h4{
    font-size: 2.25rem;
    @include ModeratRegular;
    position: relative;

    @include mobile{
        font-size: 2rem;
        margin: 0;
        margin-bottom: 2rem;
        @include ModeratBold;
    }

    &:after{
        content: "";
        display: block;
        width: 15px;
        height: 15px;
        position: absolute;
        background-color: $accent;
        border-radius: 15px;
        top: 47px;
        left: 50%;
        transform: translateX(-7px);

        @include mobile{
            display: none;
        }
    }
}

.step ul{
    margin: 0;
    padding: 0;
    list-style: none;

    li{
        margin: 1rem 0;
    }
}

/*-----UI CASE STUDY-----*/

.ui_case_study{

    @include mobile{
        width: 100vw;
        padding: 0 1rem;
        box-sizing: border-box;
    }

    h2{
        @include ModeratRegular;
        font-size: 6rem;
        text-align: center;
        margin-bottom: 15rem;

        @include mobile{
            font-size: 3.5rem;
            width: 100%;
            margin-bottom: 10rem;
        }

        span{
            display: block;
            font-size: 2.25rem;

            @include mobile{
                font-size: 1.75rem;
                margin-top: .5rem;
            }
        }
    }
}

.en_pratique{
    width: 50vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    @include mobile{
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        width: 100%;
    }
}

.pratique{
    @include mobile{
        width: 328px;
    }
}

.processus{
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: my-counter;

    @include mobile{
        width: 100%;
    }

    li{
        background-color: $white;
        box-shadow: $shadow;
        border-radius: 5px;
        height: 150px;
        margin-bottom: 3rem;
        counter-increment: my-counter;
        display: flex;
        align-items: center;
        transition: all .5s;

        &::before{
            content: "0" counter(my-counter);
            color: $accent;
            font-size: 2.25rem;
            margin: 3rem;
            @include ModeratBold;

            @include mobile{
                margin: 2rem;
            }
        }

        &:hover{
            transform: scale(1.1);
        }
    }
    li:last-of-type{
        &::after{
            content: url(/img/icons/figma.svg);
            margin-right: 3rem;

            @include mobile{
                margin-right: 2rem;
            }
        }
    }
}

.wireframe{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: row;
    gap: 5rem;
    margin: 0 auto;
    width: 40vw;

    @include mobile{
        width: 100vw;
        margin: 0 -1rem;
        gap: 3rem;
    }

    img{
        box-shadow: $shadow;
        border-radius: 5px;

        @include mobile{
            box-shadow: none;
            border-radius: 0;
        }
    }
}

.design_system{

    @include mobile{

        h2{
            margin-bottom: 5rem;
        }

        img{
            display: none;
        }
    }
}

.color_title{
    text-align: center;
    padding-top: 5rem; //c'est dégueulasse mais ça fonctionne alors yolo

    @include mobile{
        display: none;
    }
}

.couleurs{
    width: 40vw;
    margin: 0 auto;
    margin-top: 10rem;
    margin-bottom: 15rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    @include mobile{
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 10rem;
        margin: 15rem 0 5rem 0;
    }
}

.color{
    text-align: center;
    position: relative;

    p{
        margin: 0;
        margin-bottom: .2rem;
        color: #828282;
        font-size: 1.5rem;
    }

    span{
        font-size: 1.125rem;
        margin: 0;
    }

    &:hover::before{
        transform: scale(1.3);
        border-radius: 45px;
    }
}

.color::before{
    content: "";
    width: 90px;
    height: 90px;
    border-radius: 30px;
    box-shadow: 0px 15px 15px 0px rgba($color: #000000, $alpha: .25);
    background-color: #159300;
    display: block;
    position: absolute;
    left: calc(50% - 45px);
    top: -7rem;
    transition: all .5s;
}

.color:nth-of-type(2)::before{
    background-color: $black;
}
.color:nth-of-type(3)::before{
    background-color: #DEDEDE;
}
.color:last-of-type::before{
    background-color: $white;
}

/*-----PLAYTOGNE RESULT-----*/

.result{

    @include mobile{
        width: 100vw;
        padding: 0 1rem;
        box-sizing: border-box;
    }

    h2{
        @include ModeratRegular;
        font-size: 6rem;
        text-align: center;
        margin: 0;
        margin-bottom: 5rem;

        @include mobile{
            font-size: 5rem;
        }
    }
    p{
        margin: 0 auto;
        margin-bottom: 1.5rem;
        @include ModeratRegular;
        font-size: 1.5rem;
        line-height: 2.5rem;
        width: 40vw;

        @include mobile{
            width: 100%;
        }
    }
    iframe{
        margin: 0 auto;
        display: block;
        margin-top: 5rem;

        @include mobile{
            display: none;
        }
    }
}

/*-----ILLU WEB SHOWCASE-----*/

.bref em{
    font-weight: 700;
}

.showcase{
    margin: 0 -10rem;

    @include mobile{
        margin: 0;
        width: 100%;
    }
}

.illustration{
    width: 100%;
    box-shadow: $shadow;
    border-radius: 5px;
    margin-bottom: 3rem;
    transition: all .5s;

    &:hover{
        transform: scale(1.05);
    }
}

.more{
    box-shadow: $shadow;
    border-radius: 5px;
    width: 20vw;
    padding: 5rem 3rem;

    @include mobile{
        width: 60%; //bon c'est dégueu mais ça fonctionne alors yolo
    }

    h4{
        font-size: 2.25rem;
        margin: 0;
        margin-bottom: 3rem;
    }

    a{
        @include ModeratBold;
        font-size: 1.125rem;
        color: $white;
        text-decoration: none;
        background-color: $bleu;
        padding: 1rem 2rem;
        border-radius: 2rem;
        transition: all .5s;

        &::after{
            content: url(/img/icons/external_link_white.svg);
            margin-left: .5rem;
        }
        &:hover{
            box-shadow: 0px 15px 15px 0px rgba(47, 128, 237, 0.50);
        }
    }
}

/*-----TAGGING SHOWCASE-----*/

.design_case_study .bref, .design_case_study .behance{
    @include case_center;
}

.tagging{
    @include case_center;
    margin-top: 0;
}

.tag_showcase{
    overflow-x: hidden;
    position: relative;
}


/*-----TRANSMEDIA CASE STUDY-----*/

.synopsis, .intention, .audience, .amal_en_pratique{
    @include case_center;
}

.audience{
    @include mobile{
        margin: 0 -1rem;
    }
}

.amal_schemas{
    width: 80vw;
    margin: 0 auto;

    @include mobile{
        width: 100%;
    }

    img{
        width: 100%;
        margin-bottom: 5rem;
        border-radius: 10px;
        box-shadow: $shadow;
        transition: all .5s;

        @include mobile{
            margin-bottom: 2rem;
            border-radius: 0;
            box-shadow: none;
        }

        &:hover{
            transform: scale(1.01);
        }
    }
}

.amal_illu_grid{
    width: 60vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    gap: 30px;

    @include mobile{
        width: 100vw;
        padding: 0 1rem;
        gap: 1rem;
        box-sizing: border-box;
        grid-template-columns: repeat(2, 1fr);
    }

    img{
        width: 100%;
        border-radius: 5px;
        box-shadow: $shadow;
        transition: all .5s;

        @include mobile{
            border-radius: 0;
            box-shadow: none;
        }

        &:hover{
            transform: scale(1.1);
        }
    }
}

.transmedia_case_study .users{
    width: 40%;

    @include mobile{
        width: 100%;
    }
}

.transmedia_case_study .audience{
    @include mobile{
        padding: 0 1rem;
        box-sizing: border-box;
        margin: 0;
    }
}