@font-face {
    font-family: "Moderat Bold";
    src: url("fonts/moderatbold.otf") format("otf");
    font-weight: 700;
}
@mixin ModeratBold {
    font-family: "Moderat Bold";
    font-weight: 700;
}
@mixin h1 {
    @include ModeratBold;
    font-size: 3.6em;
}
$black: #000;
$white: #fff;
$accent: #DC7855;