@import '_variables.scss';
*{
    user-select: none;
}
body{
    font-size: 10pt;
    margin: 0;
    padding: 0;
    padding-top: 75px;
}

.container{
    width: 1440px;
    display: block;
    margin: 0 auto;
}

.hidden{
    display: none;
}

.accent{
    color: $accent;
}

h1{
    color:$black;
    @include h1;
}

.rotate{
    transform: rotate(-180deg);
}


@import '_nav.scss';
@import '_social.scss';
@import '_main.scss';
@import '_about.scss';
@import '_work.scss';
@import '_showcase.scss';
@import '_footer.scss';