@charset "UTF-8";
/*Import Moderat Bold*/
@font-face {
  font-family: "Moderat Bold";
  src: url("/styles/fonts/ModeratBold.otf") format("opentype");
  font-weight: 700;
}

/*Import Moderat Regular*/
@font-face {
  font-family: "Moderat Regular";
  src: url("/styles/fonts/ModeratRegular.otf") format("opentype");
  font-weight: 400;
}

/*Style H1*/
/*Style H2*/
/*Couleurs*/
* {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  font-size: 10pt;
  margin: 0;
  padding: 0;
  padding-top: 75px;
}

.container {
  width: 1440px;
  display: block;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.accent {
  color: #DC7855;
}

h1 {
  color: #000;
  font-family: "Moderat Bold";
  font-weight: 700;
  font-size: 4em;
}

.rotate {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.nav {
  height: 75px;
  width: 100vw;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
}

.nav > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav a {
  text-decoration: none;
  color: #000;
  font-family: "Moderat Regular";
  font-weight: 400;
  font-size: 1.5em;
}

.nav a::first-letter {
  text-transform: uppercase;
}

.nav .home_link {
  font-family: "Moderat Bold";
  font-weight: 700;
  font-size: 2em;
}

.nav_links {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20vw;
  list-style: none;
}

.nav_links li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_links li:nth-child(2) {
  position: relative;
}

.nav_links li:nth-child(2)::after {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(/img/icons/chevron.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.nav_links li:last-child::after {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(/img/icons/external_link.svg);
  background-repeat: no-repeat;
  background-position: top center;
}

.dropdown_menu {
  position: absolute;
  top: 2.5em;
  margin: 0;
  padding: 0;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.25);
}

.sub_menu {
  padding: 1.5em 3em;
  border-radius: 5px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.sub_menu:hover {
  background: #DC7855;
}

.sub_menu:after {
  display: none;
}

.social {
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-top: 5em;
}

.social ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social ul li > a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.social ul li > a:hover {
  background-color: #DC7855;
}

.social ul li a::after {
  content: url(/img/icons/facebook.svg);
}

.social ul li:nth-of-type(2) a::after {
  content: url(/img/icons/linkedin.svg);
}

.social ul li:nth-of-type(3) a::after {
  content: url(/img/icons/twitter.svg);
}

.social ul li:nth-of-type(4) a::after {
  content: url(/img/icons/instagram.svg);
}

.social ul li:nth-of-type(5) a::after {
  content: url(/img/icons/behance.svg);
}

.social ul li:last-of-type a::after {
  content: url(/img/icons/github.svg);
}

.content {
  margin: 0;
  padding: 0;
}

/*-----LANDING-----*/
.landing {
  width: 50vw;
  margin: 12em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 350px;
  position: relative;
}

.welcome h1 {
  margin: 0;
  font-size: 4rem;
}

.welcome h1::before {
  content: url(/img/emoji/hello.gif);
  position: absolute;
  left: -1em;
}

.details {
  font-size: 2.5rem;
  font-family: "Moderat Regular";
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.details h2 {
  font-size: 3rem;
  font-family: "Moderat Regular";
  font-weight: 400;
  margin: 0;
}

.details p {
  margin: 0;
}

.chocolate::after {
  content: url(/img/emoji/chocolate.png);
  margin-left: .3em;
}

.resume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.resume > a {
  color: #000;
  text-decoration: none;
  font-size: 1.125rem;
  font-family: "Moderat Bold";
  font-weight: 700;
  margin-left: 2em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
}

.resume > a:hover::before {
  content: "";
  width: 100%;
  border-bottom: 3px solid #000000;
  position: absolute;
  bottom: -.5em;
}

.resume > a::after {
  content: url(/img/icons/external_link.svg);
  margin-left: .5em;
}

.download_resume {
  width: 300px;
  height: 60px;
  background-color: #2F80ED;
  border-radius: 30px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.download_resume a {
  width: 100%;
  height: 100%;
  color: #fff;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Moderat Bold";
  font-weight: 700;
  font-size: 1.125rem;
}

.download_resume a:before {
  content: url(/img/icons/download.svg);
  margin-right: .5em;
}

.download_resume:hover {
  -webkit-box-shadow: 0px 15px 15px 0px rgba(47, 128, 237, 0.5);
          box-shadow: 0px 15px 15px 0px rgba(47, 128, 237, 0.5);
}

.landing .social {
  margin-top: 10em;
}

.social_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: column;
}

.social_grid li {
  width: 8em;
  height: 8em;
}

/*-----DESCRIPTION-----*/
.description {
  width: 40vw;
  margin: 0 auto;
}

.description h2 {
  font-family: "Moderat Bold";
  font-weight: 700;
  font-size: 2.25rem;
}

.description p {
  font-family: "Moderat Regular";
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.6875em;
}

.description em {
  font-style: normal;
}

/*-----REALISATIONS-----*/
.realisations {
  margin-top: 15em;
}

.realisations .title {
  width: 40vw;
  margin: 0 auto;
  margin-bottom: 5em;
}

.realisations h2 {
  margin: 0;
  font-family: "Moderat Bold";
  font-weight: 700;
  font-size: 3rem;
}

.realisations h3 {
  margin: 0;
  font-family: "Moderat Regular";
  font-weight: 400;
  font-size: 2.25rem;
}

.works_links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.works_links a {
  overflow: hidden;
  height: 500px;
  width: 40%;
  -webkit-transition: all .5s;
  transition: all .5s;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works_links a:hover::after {
  width: 100%;
  height: 100%;
  background-color: rgba(220, 120, 85, 0.9);
  z-index: 5;
  position: absolute;
  top: 0;
}

.works_links a img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.works_links a:first-child {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  position: relative;
}

.works_links a:first-child::after {
  content: "Architecture Transmédia";
  color: #fff;
  font-family: "Moderat Bold";
  font-weight: 700;
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works_links a:first-child img {
  position: absolute;
  bottom: -20em;
}

.works_links a:nth-child(2) {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.works_links a:nth-child(2)::after {
  content: "UX/UI Design";
  color: #fff;
  font-family: "Moderat Bold";
  font-weight: 700;
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works_links a:nth-child(3)::after {
  content: "Illustrations web";
  color: #fff;
  font-family: "Moderat Bold";
  font-weight: 700;
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works_links a:last-child {
  min-width: 60%;
}

.works_links a:last-child:hover::after {
  content: "Design graphique";
  color: #fff;
  font-family: "Moderat Bold";
  font-weight: 700;
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works_links a:last-child img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*il faudra créer une classe pour l'état hover, qu'on activera avec du JS*/
/*-----SERVICES-----*/
.services {
  background-color: #000;
  padding: 10em 0;
}

.services_title {
  font-family: "Moderat Bold";
  font-weight: 700;
  font-size: 2.25rem;
  color: #fff;
}

.services_title h2 {
  margin: 0;
}

.services_title span {
  text-transform: uppercase;
  font-size: .875rem;
  letter-spacing: .1em;
}

.services_grid {
  margin-top: 5em;
}

.services_grid ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.service {
  background: #fff;
  border-radius: 5px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.service h3 {
  font-family: "Moderat Bold";
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: .5em;
}

.service p {
  font-family: "Moderat Regular";
  font-weight: 400;
  font-size: 1.125rem;
  margin: 0;
  line-height: 1.725rem;
}

.service ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.service li {
  font-family: "Moderat Regular";
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.725rem;
}

.service span {
  font-weight: 700;
}

.emoji {
  width: 9.375rem;
}

.service_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding-right: 6.25rem;
}

.UX_service .emoji {
  background-image: url(/img/emoji/ok.png);
  background-repeat: no-repeat;
  background-position: center;
}

.code_service .emoji {
  background-image: url(/img/emoji/tools.png);
  background-repeat: no-repeat;
  background-position: center;
}

.transmedia_service .emoji {
  background-image: url(/img/emoji/rocket.png);
  background-repeat: no-repeat;
  background-position: center;
}

.tags_service .emoji {
  background-image: url(/img/emoji/yeah.png);
  background-repeat: no-repeat;
  background-position: center;
}

.comm_service .emoji {
  background-image: url(/img/emoji/shout.png);
  background-repeat: no-repeat;
  background-position: center;
}

/*-----EXPERIENCE PRO-----*/
.experience {
  width: 50vw;
  margin: 0 auto;
  padding-top: 15em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.experience_title {
  text-align: right;
  font-family: "Moderat Regular";
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.725rem;
}

.experience_title h2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0;
}

.pro_blocks {
  font-family: "Moderat Regular";
  font-weight: 400;
  font-size: 1.125rem;
}

.pro_blocks ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pro_blocks li {
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.25);
}

.pro_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2em;
  height: 120px;
}

.pro_title img {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin-right: 1em;
}

.pro_title span {
  display: block;
  font-size: .875rem;
  font-weight: 400;
}

.pro_dropdown {
  margin-left: auto;
  height: 45px;
  width: 45px;
  background-color: #F2F2F2;
  outline: none;
  border: none;
  border-radius: 30px;
  background-image: url(/img/icons/chevron.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}

.pro_link {
  color: #000;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.pro_link:hover::before {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 3px solid #000;
  position: absolute;
  bottom: -.3em;
}

.pro_link:after {
  content: url(/img/icons/external_link.svg);
  margin-left: .5em;
}

.pro_details {
  padding: 2em;
  padding-top: 0;
}

.pro_details h4 {
  margin: 0;
  font-size: 1.125rem;
}

.pro_details ul {
  margin: 1em 0;
}

.pro_details li {
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 1.125rem;
  margin-bottom: .2em;
}

.pro_details span {
  display: block;
}

.pro_details p {
  font-weight: 700;
}

.pro_twist {
  margin: 3em 0;
}

.pro_twist .pro_details li a {
  color: #DC7855;
  text-decoration: none;
  font-size: .875rem;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.pro_twist .pro_details li a:hover {
  color: #000;
  text-decoration: underline;
}

.pro_twist .pro_details li span::before {
  content: "🡒 ";
  margin-left: 2em;
}

/*-----TESTIMONIALS-----*/
.testimonials {
  margin-top: 15em;
  margin-bottom: 15em;
}

.testimonials h2 {
  font-family: "Moderat Bold";
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0;
  text-align: center;
}

.les_avis {
  margin-top: 5em;
  padding: 0;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.avis {
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.25);
}

.avis figure {
  margin: 0 auto;
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  padding-bottom: 3em;
  border-bottom: 1px solid #DC7855;
}

.avis img {
  border-radius: 45px;
  border: 2px solid #fff;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
}

.avis figcaption {
  margin-left: 2em;
  font-family: "Moderat Regular";
  font-weight: 400;
}

.avis .avis_content {
  width: 70%;
  margin: 3em auto;
  font-family: "Moderat Regular";
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.725rem;
}

.avis .avis_content > span {
  font-size: 5.625rem;
  font-family: "Moderat Regular";
  font-weight: 400;
}

.avis_name {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 700;
}

.avis_position {
  color: #BDBDBD;
}

/*-----ABOUT ME-----*/
.about {
  margin-top: 15em;
  margin-bottom: 10em;
}

.about h1 {
  font-size: 2.25rem;
  margin: 0 auto;
  width: 30vw;
}

.about h1 span {
  font-size: .875rem;
  display: block;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.about .social {
  width: 480px;
  margin: 0 auto;
  margin-top: 10em;
}

.my_pic {
  width: 60vw;
  height: 660px;
  margin: 0 auto;
  margin-top: 10em;
  background: #F2F2F2;
  position: relative;
}

.my_pic img {
  width: 100%;
  height: 100%;
  display: block;
}

.my_pic figcaption {
  width: 330px;
  height: 360px;
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2em;
  z-index: 1;
  position: absolute;
  top: calc(50% - 180px);
  right: 10em;
  border-radius: 5px;
  -webkit-box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.25);
}

.citation {
  font-family: "Moderat Regular";
  font-weight: 400;
  font-size: 2rem;
}

.citation p {
  margin: 0;
  margin-bottom: 1rem;
}

.citation cite {
  font-size: 1.125rem;
  font-style: normal;
}

.underline {
  position: relative;
  font-family: "Moderat Bold";
  font-weight: 700;
}

.underline::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  top: 1.2em;
  left: 0;
  border-bottom: 3px solid #000;
}

/*-----VALEURS-----*/
.valeurs {
  margin-top: 10em;
  background-color: #DC7855;
  padding: 5em 0;
}

.valeurs h2 {
  text-align: center;
  font-family: "Moderat Bold";
  font-weight: 700;
  color: #fff;
  font-size: 2.25rem;
  margin: 0;
}

.valeurs .service {
  height: 250px;
}

.passion_value h3 {
  position: relative;
}

.passion_value h3::before {
  content: url(/img/emoji/passion.png);
  position: absolute;
  left: -2em;
}

.originality_value h3 {
  position: relative;
}

.originality_value h3::before {
  content: url(/img/emoji/love.png);
  position: absolute;
  left: -2em;
}

.humble_value h3 {
  position: relative;
}

.humble_value h3::before {
  content: url(/img/emoji/humble.png);
  position: absolute;
  left: -2em;
}

.team_value h3 {
  position: relative;
}

.team_value h3::before {
  content: url(/img/emoji/team.png);
  position: absolute;
  left: -2em;
}

/*-----SIGNATURES-----*/
.design {
  margin: 15em auto;
  margin-bottom: 5em;
  overflow-x: hidden;
  position: relative;
}

.design h2 {
  text-align: center;
  font-family: "Moderat Bold";
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0;
  margin-bottom: 5rem;
}

.design p {
  font-family: "Moderat Regular";
  font-weight: 400;
  font-size: 1.5rem;
  width: 35vw;
  margin: 0 auto;
}

.design .typeform_link {
  width: 200px;
  margin-bottom: 5em;
}

.tags_grid {
  margin: 0 auto;
  margin-top: 5rem;
  padding: 0;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[24];
      grid-template-columns: repeat(24, 1fr);
  grid-gap: 30px;
  width: 100vw;
}

.tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tag img {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.tag img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border-radius: 5px;
  -webkit-box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.25);
}

@-webkit-keyframes move {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -6240px;
  }
}

@keyframes move {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -6240px;
  }
}

.tags_grid {
  /*l'animation*/
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 45s;
          animation-duration: 45s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.selection_travaux {
  font-family: "Moderat Regular";
  font-weight: 400;
  font-size: 1.125rem;
  color: #DC7855;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  top: 0;
  left: 10rem;
}

/*-----FORMATION-----*/
.formation {
  background-color: #DC7855;
  padding: 5rem 0;
  position: relative;
}

.formation h2 {
  color: #fff;
  font-family: "Moderat Bold";
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0;
}

.formation p {
  color: #fff;
  font-family: "Moderat Regular";
  font-weight: 400;
  font-size: 1.125rem;
}

.formation_title {
  position: absolute;
  width: 25%;
}

.formation_title p {
  line-height: 1.725rem;
}

.formations {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
  grid-gap: 30px;
}

.school {
  background-color: #fff;
  height: 250px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  padding: 2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Moderat Regular";
  font-weight: 400;
  font-size: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.school h3 {
  margin: 0;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.school p {
  color: #000;
  margin: 0;
  width: 100%;
}

.school_more {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form_emojis {
  height: 30px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.school_link {
  font-size: .875rem;
  color: #000;
  text-decoration: none;
  position: relative;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.school_link:hover::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  border-bottom: 2px solid #000;
  bottom: -.5rem;
}

.school_link:after {
  content: url(/img/icons/external_link.svg);
  margin-left: .5rem;
}

.technobel {
  -ms-grid-column: 2;
      grid-column-start: 2;
}

.technobel .form_emojis {
  width: 120px;
  background-image: url(/img/emoji/ok.png), url(/img/emoji/tools.png), url(/img/emoji/yeah.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left, center, right;
}

.designinnovation .form_emojis {
  width: 75px;
  background-image: url(/img/emoji/tools.png), url(/img/emoji/yeah.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left, right;
}

.talentquest .form_emojis {
  width: 30px;
  background-image: url(/img/emoji/ok.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.mat .form_emojis {
  width: 165px;
  background-image: url(/img/emoji/ok.png), url(/img/emoji/rocket.png), url(/img/emoji/shout.png), url(/img/emoji/yeah.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left, 33%, 66%, right;
}

.heaj .form_emojis {
  width: 30px;
  background-image: url(/img/emoji/yeah.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/*-----CTA-----*/
.cta {
  width: 30vw;
  margin: 0 auto;
  margin-top: 15em;
}

.cta h2 {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 5rem;
  font-family: "Moderat Bold";
  font-weight: 700;
  font-size: 2.25rem;
}

.typeform_link {
  margin: 0 auto;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.typeform_link:hover {
  -webkit-box-shadow: 0px 15px 15px 0px rgba(47, 128, 237, 0.5);
          box-shadow: 0px 15px 15px 0px rgba(47, 128, 237, 0.5);
}

.projects {
  margin-top: 5rem;
}

.projects h1 {
  margin: 0;
  font-size: 4.5rem;
}

.works {
  margin-top: 5rem;
}

.my_works {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  grid-auto-flow: row;
}

.projet {
  height: 60vh;
}

.projet a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #000;
  text-decoration: none;
}

.projet_details {
  margin-top: auto;
  height: 40%;
  font-family: "Moderat Regular";
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.725rem;
  position: relative;
}

.projet_details::before {
  position: absolute;
  top: -5rem;
  left: 0;
}

.projet_details h2 {
  font-family: "Moderat Bold";
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.75rem;
  margin: 0;
}

.ux_projet .projet_details::before {
  content: url(/img/emoji/ok.png);
}

.transmedia_projet .projet_details::before {
  content: url(/img/emoji/rocket.png);
}

.design_projet .projet_details::before {
  content: url(/img/emoji/yeah.png);
}

.illu_projet .projet_details::before {
  content: url(/img/emoji/chocolate_2.png);
}

.thumbnail {
  width: 100%;
  height: 40%;
  -webkit-transition: all .5s;
  transition: all .5s;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.25);
}

.transmedia_projet .thumbnail {
  background-image: url(/img/content/amal_cover.jpg);
  background-position: 0% 80%;
}

.ux_projet .thumbnail {
  background-image: url(/img/content/playzone_photo3.png);
}

.design_projet .thumbnail {
  background-image: url(/img/content/tag_cover.png);
}

.illu_projet .thumbnail {
  background-image: url(/img/content/vector_2.png);
}

.footer {
  width: 100%;
  margin-top: 10em;
}

.footer_block {
  width: 1170px;
  display: block;
  margin: 0 auto;
  margin-bottom: 15em;
}

.footer_block img {
  margin-bottom: 8em;
}

.footer_content {
  width: 100%;
  height: 20em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.footer_title {
  color: #000;
  margin: 0;
  font-size: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Moderat Bold";
  font-weight: 700;
}

.footer_title::after {
  content: "";
  background-image: url(/img/emoji/happy.png);
  background-size: cover;
  display: inline-block;
  width: 70px;
  height: 65px;
}

.contact {
  height: 10em;
  margin-top: 5em;
}

.social_row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

.social_row li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.mail {
  color: #DC7855;
  font-family: "Moderat Bold";
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
  margin-bottom: 5em;
}

.mail::before {
  content: url(/img/icons/mail.svg);
  margin-right: .5em;
}

.mail::after {
  content: "";
  width: 350px;
  height: 5px;
  display: block;
  position: absolute;
  border-bottom: 2px solid #000;
}

.typeform_link {
  width: 300px;
  height: 60px;
  background-color: #2F80ED;
  border-radius: 30px;
  margin-top: 5em;
}

.typeform_link a {
  color: #fff;
  text-decoration: none;
  font-family: "Moderat Bold";
  font-weight: 700;
  font-size: 1.5em;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.typeform_link a:after {
  content: url(/img/icons/external_link_white.svg);
  margin-left: .3em;
}

.location {
  width: 330px;
  height: 270px;
  background-color: #DC7855;
  color: #fff;
}

.location > div {
  position: relative;
  margin-top: 5em;
  margin-left: 5em;
}

.location div::before {
  content: url(/img/icons/location.svg);
  position: absolute;
  left: -2em;
}

.location h3 {
  margin: 0;
  margin-bottom: .5em;
  font-family: "Moderat Bold";
  font-weight: 700;
  font-size: 1.5em;
}

.location p {
  margin: 0 0 .5em 0;
  font-family: "Moderat Regular";
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
}

.location a {
  text-decoration: none;
  color: #fff;
  font-family: "Moderat Regular";
  font-weight: 400;
  display: block;
  margin-top: 2.5em;
  font-style: normal;
}

.footer_credits {
  background-color: #000;
  color: #fff;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20em;
}

.footer_credits p {
  margin: 0;
  font-family: "Moderat Bold";
  font-weight: 700;
  font-size: 1.125rem;
}

.footer_credits .heart {
  display: inline-block;
  width: 18px;
}

.footer_credits .heart::after {
  content: "";
  background-image: url(/img/icons/heart.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 18px;
  height: 18px;
  display: block;
}

.footer_credits .copyright {
  display: inline-block;
  width: 18px;
}

.footer_credits .copyright::after {
  content: "";
  background-image: url(/img/icons/copyright.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 18px;
  height: 18px;
}
/*# sourceMappingURL=style.css.map */